<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML table</title>
    <style>
        *{
            color: black;
            border: 1px solid black;
        }
        
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>First name </th>
                <th>Last name </th>
                <th>Full name </th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td> {{user['fname']}} </td>
                <td> {{user['lname']}} </td>
                <td> {{user['fname']}}-{{user['lname']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>