<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2># of visits {{ count }} times</h2>
    <form action="/inp" method="POST">
        <input type="number" name="inp">
    </form>
    <br>
    <form action="/addtwo">
        <button name="ee">Add two</button>
    </form>
    <form action="/destroy_session">
        <button name="ee">Reset</button>
    </form>
    

</body>
</html>